<!DOCTYPE html>
<html>
<head>
    <title>Item List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'home' %}">Inventory Management System</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Item List <span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <h1>Item List</h1>
        <ul class="list-group">
            {% for item in items %}
                <li class="list-group-item">
                    <img src="{{ item.image.url }}" alt="{{ item.name }}" width="500">
                    {{ item.name }} - {{ item.description }}
                    <a href="{% url 'item_update' item.pk %}" class="btn btn-primary">Edit</a>
                    <a href="{% url 'item_delete' item.pk %}" class="btn btn-danger">Delete</a>
                </li>
            {% endfor %}
        </ul>
        <a href="{% url 'item_create' %}" class="btn btn-success">Add new item</a>
        <a href="{% url 'home' %}" class="btn btn-secondary">Back to Home</a>
    </div>
</body>
</html>